.scoreWrapper {
  background-color: red;
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  border-radius: 5px;
}

.questions-content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scoreWrapper span {
  display: block;
}

.questionWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6774ff;
  font-weight: bold;
}

@media screen and (max-width: 650px) {
  .questionWrapper h1 {
    font-size: 20px;
  }
}

.answerWrapper ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.questionNumber {
  padding-right: 10px;
  text-align: end;
  color: #6774ff;
}

.oneAnswer {
  background-color: #00000021;
  margin: 10px 0;
  padding: 10px;
  border-radius: 50px;
  font-weight: 800;
}

.oneAnswer:hover {
  cursor: pointer;
  background-color: #6774ff;
}

.answerChoosed {
  background-color: #6774ff;
  color: #fff;
}

@media screen and (max-width: 650px) {
  .oneAnswer {
    font-size: 12px;
  }
}
