.leaderboards {
  height: 100%;
  display: flex;
  overflow: auto;
  align-items: center;
  justify-content: center;
}

.leaderboards h1 {
  color: #1730a4;
  font-weight: bold;
}

@media screen and (max-width: 650px) {
  .leaderboards {
    display: block;
    overflow: auto;
    align-items: center;
    justify-content: center;
  }
}

.leaderboard-background {
  width: 80%;
}

h3 {
  font-family: OpenSans;
  color: black;
  font-weight: bold;
  padding-top: 1%;
}

.score-row {
  color: white;
  font-weight: bold;
  /* background: #ffbc48; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 45px;
  font-family: OpenSans;
}
