.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1em;
}

.logo {
  color: #1730a4;
  font-size: 30px;
  font-style: italic;
}

.menu-nav {
  display: flex;
  font-size: 18px;
}

.menu-nav a {
  color: #868686;
}

.nav-link {
  transition: all 0.1s ease-in-out;
}

.nav-link:hover {
  transform: scale(1.1);
}

.nav-link a:hover {
  text-decoration: none;
  color: #1730a4;
}

@media screen and (max-width: 800px) {
  .logo {
    display: none;
  }

  .nav-link {
    font-size: 14px;
  }
}
